doctype html
html.
  <head>
  <style>
    #map {
      width: 500px;
      height: 400px;
    }
  </style>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script>
    function initialize() {
      var mapCanvas = document.getElementById('map');
      var mapOptions = {
        center: new google.maps.LatLng(37.791207, -122.417335),
        zoom: 13,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(mapCanvas, mapOptions);
      map.set('styles', [
        {
          featureType: 'landscape',
          elementType: 'geometry',
          stylers: [
            { color: '#dd8080' }
          ]
        }
      ]);
    }
    google.maps.event.addDomListener(window, 'load', initialize);

  </script>
  </head>
  <body>
    <div id="map"></div>
  </body>
